@use "../base/templates" as *;
@use "../base/media" as *;
.footer {
  background-color: var(--black-l);
  padding: 60px 0px;

  @include tablet {
    background-color: transparent;
    padding-bottom: 0;
  }

  &__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;

    @include laptop-min {
      flex-wrap: wrap;
    }
    @include tablet-min {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
  &__main {
    flex: 0 1 325px;
    @include tablet {
      flex-basis: 250px;
    }
    @include tablet-min {
      flex: 1;
    }
  }
  &__logo {
    display: block;
    width: 100%;
    @include tablet {
      width: 200px;
    }
    @include tablet-min {
      width: 150px;
      margin: 0 auto;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__main-content {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    margin: 25px 0px 0px 0px;
    @include tablet {
      font-size: 10px;
    }
    @include tablet-min {
      display: none;
    }
  }
  &__nav {
    @include laptop-min {
      flex: 1;
    }
  }
  &__nav-title {
    font-weight: 300;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
    margin: 0px 0px 30px 0px;

    &._mob {
      @media (min-width: 576px) {
        display: none;
      }
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 20px;
    @include tablet {
      gap: 20px;
    }
    @include tablet-min {
      flex-direction: column;
      gap: 10px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts {
    display: flex;
    align-items: start;
    flex-shrink: 0;
    gap: 30px;
    @include laptop-middle {
      flex-direction: column;
      flex: 0 1 350px;
    }
    @include laptop-min {
      flex: auto;
      width: 100%;
    }
    @include tablet-min {
      align-items: center;
      gap: 0px;
    }
  }
  &__contacts-main {
    font-weight: 300;
    font-size: 17px;
    flex: 0 1 250px;
    @include laptop-middle {
      flex: auto;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts-tel {
    display: block;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 5px;
  }
  &__mail {
  }
  &__address {
    margin-top: 25px;
    @include tablet-min {
      max-width: 320px;
      margin: 20px 0px 40px 0px;
    }
  }
  &__bottom {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size: 14px;

    @include tablet {
      border-top: none;
      margin-top: 60px;
      background-color: var(--black-l);
      padding: 40px 0px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: white;

        img {
          opacity: 1;
        }
      }
    }
  }
  &__bottom-wrapper {
    gap: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
    }
    @include tablet-min {
      gap: 10px;
    }
  }
  &__bottom-content {
    font-weight: 300;
    font-size: 12px;
    flex: 0 1 395px;
    @include tablet {
      flex: auto;
    }
    @include tablet-min {
      max-width: 240px;
    }
  }
  &__bottom-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: 30px;
    @include tablet {
      flex-direction: column;
      gap: 20px;
    }
    @include tablet-min {
      gap: 10px;
    }
  }
  &__dev {
    display: flex;
    align-items: center;
    gap: 6px;

    img {
      opacity: 0.5;
      transition: opacity 0.3s ease;
    }
  }
}
