@use "../base/templates" as *;
@use "../base/media" as *;

.header {
  padding-top: 50px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transition:
    background-color 0.4s ease,
    transform 0.4s ease,
    padding 0.4s ease,
    backdrop-filter 0.4s ease;

  @include laptop {
    padding-top: 30px;
  }
  @include laptop-middle {
    padding-top: 20px;
  }

  &._scroll {
    padding: 20px 0px;
    background-color: rgba(5, 5, 5, 0.7);
    backdrop-filter: blur(10px);
  }

  &__wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 30px;
    @include laptop {
      gap: 20px;
    }
  }
  &__burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 22px;
    height: 22px;
    @media (min-width: 992px) {
      display: none;
    }

    div {
      height: 1px;
      width: 100%;
      background-color: var(--primary);
    }
  }
  &__nav {
    @include laptop-min {
      position: absolute;
      visibility: hidden;
      left: -9999px;
      opacity: 0;
      z-index: -9999;
    }
  }
  &__list {
    display: flex;
    gap: 30px;
    @include desktop-big {
      gap: 20px;
    }
    @include laptop-middle {
      gap: 15px;
    }

    a {
      font-size: 18px;
      transition: color 0.3s ease;
      @include desktop {
        font-size: 16px;
      }
      @include laptop-middle {
        font-size: 14px;
      }

      @include hover {
        color: var(--primary);
      }
    }
  }
  &__logo {
    display: block;
    margin: 0 auto;
    width: 320px;
    @include desktop-big {
      width: 250px;
    }
    @include laptop {
      width: 200px;
    }
    @include laptop-middle {
      width: 140px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
  &__contacts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    @include desktop-big {
      gap: 20px;
    }
    @include laptop-middle {
      gap: 15px;
    }
    @include laptop-min {
      display: none;
    }
  }
  &__address {
    font-weight: 300;
    font-size: 16px;
    opacity: 0.8;
    @include laptop {
      font-size: 14px;
    }
    @include laptop-middle {
      font-size: 13px;
    }
  }
  &__tel {
    font-size: 22px;
    padding-bottom: 8px;
    border-bottom: 2px solid var(--primary);

    transition: color 0.3s ease;
    @include desktop {
      font-size: 20px;
    }
    @include laptop {
      font-size: 16px;
      padding-bottom: 3px;
    }
    @include hover {
      color: var(--primary);
    }
  }
  &__contacts-mob {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__contacts-mob-btn {
    display: block;
    width: 22px;
    height: 22px;
    color: var(--primary);

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
