@use "../base/templates" as *;
@use "../base/media" as *;

.s-adv {
  margin: 60px 0px;
  @include tablet {
    overflow: hidden;
  }
  &__slider {
    margin: 0 -7px;
    padding: 7px;
    @include tablet {
      margin: 0;
      padding: 0;
      overflow: visible !important;
    }
  }
  &__wrapper {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__item {
    padding: 25px;
    border: 1px solid var(--primary);
    border-radius: 4px;
    box-sizing: border-box;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.05);

    transition: box-shadow 0.3s ease;

    @include tablet {
      padding: 20px 16px;
      width: 400px !important;
      max-width: 100%;
      height: auto !important;
    }
    @include hover {
      box-shadow: -2px 2px 7px 2px var(--primary);
    }
  }
  &__item-title {
    display: flex;
    align-items: start;
    gap: 20px;
    margin: 0px 0px 20px 0px;

    font-weight: 500;
    font-size: 28px;
    @include laptop-middle {
      font-size: 24px;
    }
    @include laptop-min {
      font-size: 20px;
    }
    @include tablet {
      margin-bottom: 15px;
    }

    &::after {
      content: "";
      width: 38px;
      height: 32px;
      background-color: var(--primary);
      flex-shrink: 0;
      margin-left: auto;
      clip-path: polygon(75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%, 25% 0);
      @include laptop-min {
        width: 25px;
        height: 22px;
      }
    }
  }
  &__item-content {
    margin: 0;
    font-size: 18px;
    line-height: 150%;
    @include laptop-min {
      font-size: 16px;
    }
  }
}
