@use "../base/templates" as *;
@use "../base/media" as *;

.s-complex {
  position: relative;
  overflow: hidden;
  background-color: var(--light);
  color: var(--black);
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    content: "";
    z-index: -1;
  }
  &::before {
    top: 0;
    left: -50px;
    width: 830px;
    height: 775px;

    background: url("@img/decor-complex-left.png") 0 0 / 100% auto no-repeat;
    @include laptop-middle {
      left: -250px;
    }
  }
  &::after {
    right: -50px;
    bottom: -40px;
    width: 535px;
    height: 710px;
    background: url("@img/decor-complex-right.png") 0 0 / 100% auto no-repeat;
    @include laptop-middle {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    @include laptop-middle {
      flex-wrap: wrap;
      gap: 30px;
    }
  }
  &__info {
    flex: 0 1 615px;
    @include laptop-middle {
      flex: none;
      width: 100%;
    }
  }
  &__title {
    line-height: 100%;
    margin-bottom: 30px;
    @include laptop-middle {
      text-align: center;
    }
    @include tablet {
      margin-bottom: 20px;
    }
  }
  &__price {
    padding: 16px 60px;
    margin-bottom: 30px;
    background: linear-gradient(
      90deg,
      #e1e56d 0%,
      #f1f57f 10%,
      #f5f98a 50%,
      rgba(245, 249, 138, 0.5) 89.93%,
      rgba(245, 249, 138, 0) 100%
    );
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 5% 50%);

    font-weight: 500;
    font-size: 30px;

    @include laptop {
      font-size: 26px;
    }
    @include laptop-middle {
      width: fit-content;
      margin: 0px auto 30px auto;
    }
    @include tablet {
      font-size: 22px;
      margin-bottom: 20px;
      padding: 7px 35px;
    }
    @include tablet-min {
      width: 100%;
      font-size: 20px;
    }
  }
  &__content {
    margin-top: auto;
  }
  &__content-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    margin: 0px 0px 10px 0px;
    @include tablet {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  &__content-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    row-gap: 0px;

    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    @include tablet {
      font-size: 16px;
      grid-template-columns: 1fr;
    }

    li {
      display: flex;
      align-items: center;
      gap: 12px;
      padding-left: 12px;

      &::before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }
  &__btn-brone {
    margin-top: 40px;
    @include tablet {
      margin-top: 20px;
    }
    @include tablet-min {
      width: 100%;
    }
  }
  &__gallery {
    display: flex;
    gap: 10px;
    width: 850px;
    @include desktop {
      width: 650px;
    }
    @include laptop {
      width: 550px;
      flex-direction: column-reverse;
    }
    @include laptop-middle {
      width: 750px;
      max-width: 100%;
      margin: 0 auto;
    }
  }
  &__gallery-thumb {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100px;
    flex-shrink: 0;
    @media (min-width: 1366px) {
      flex-direction: column;
    }
    @include laptop {
      width: 100%;
      gap: 15px;

      .slider-arrow {
        &._prev {
          transform: rotate(-90deg);
        }
        &._next {
          transform: rotate(-90deg);
        }
      }
    }
    @include tablet {
      .slider-arrow {
        display: none;
      }
    }
  }
  &__thumb-slider {
    width: 100%;
    @media (min-width: 1366px) {
      height: 430px !important;
    }
  }
  &__thumb-slide {
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;

    &::before {
      position: absolute;
      content: "";
      inset: 0;
      border-radius: 4px;
      border: 2px solid var(--primary);
      opacity: 0;

      transition: opacity 0.3s ease;
    }
    @include hover {
      &::before {
        opacity: 0.8;
      }
    }
    @include laptop {
      height: 100px !important;
    }
    @include tablet-min {
      height: auto !important;
      aspect-ratio: 1/1;
    }
    &.swiper-slide-thumb-active {
      &::before {
        opacity: 1;
      }
    }
  }
  &__gallery-slider {
    width: 740px;
    max-width: 100%;
  }
  &__gallery-slide {
    border-radius: 4px;
    overflow: hidden;
    height: 605px !important;
    @include desktop {
      height: 575px !important;
    }
    @include laptop {
      height: 370px !important;
    }
    @include tablet-min {
      height: auto !important;
      aspect-ratio: 1/1;
    }

    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
}
