@use "../base/templates" as *;
@use "../base/media" as *;

.s-contacts {
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 1860px;
    background: url("@img/decor-contacts.png") 0 0 / contain no-repeat;
    right: -700px;
    z-index: -1;

    @include laptop-middle {
      width: 830px;
      height: 450px;
      right: 50%;
      bottom: -40px;
      transform: translateX(50%);
    }
  }
  &__wrapper {
    position: relative;
  }
  &__main {
    position: absolute;
    width: 425px;
    top: 60px;
    left: 90px;
    bottom: 60px;

    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--black-l);
    border-radius: 4px;

    z-index: 10;

    @include laptop {
      position: static;
      width: 100%;
      margin-bottom: 55px;
    }
  }
  &__main-inside {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    z-index: 1;
    @include laptop {
      padding: 40px;
      align-items: center;
    }
    @include laptop-min {
      gap: 25px;
    }
  }
  &__logo {
    display: block;
    width: 100%;
    @include laptop {
      width: 400px;
      margin: 0 auto;
    }
  }
  &__item {
    font-weight: 300;
    font-size: 17px;

    @include tablet {
      font-size: 16px;
    }

    a {
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__tel {
    display: block;
    width: fit-content;
    margin-bottom: 5px;

    font-weight: 400;
    font-size: 24px;
    @include tablet {
      font-size: 22px;
    }
  }
  &__mail {
  }
  &__btn {
  }
  &__figure {
    position: absolute;
    display: block;
    right: -80px;
    bottom: 105px;
    z-index: -1;
    @include laptop {
      display: none;
    }
  }
  &__map {
    height: 660px;
    width: 100%;
    @include laptop-min {
      height: 500px;
    }
    @include tablet {
      height: 450px;
    }
    @include tablet-min {
      height: 350px;
    }
    @include mobile {
      height: 220px;
    }
  }
}
