@use "../base/templates" as *;
@use "../base/media" as *;

.s-gallery {
  position: relative;
  background-color: var(--light);
  color: var(--black);
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 1170px;
    height: 100%;
    z-index: -1;
    @include laptop {
      width: 50%;
    }
    @include tablet {
      width: 270px;
      height: 250px;
    }
  }
  &::before {
    bottom: 0;
    left: 0;
    background: url("@img/gallery-decor-left.png") top 0 left 0 / contain
      no-repeat;
    @include tablet {
      top: -40px;
      left: -80px;
    }
  }
  &::after {
    bottom: 0;
    right: 0;
    background: url("@img/gallery-decor-right.png") bottom 0 right 0 / contain
      no-repeat;
    @include tablet {
      right: -45px;
      bottom: -40px;
    }
  }

  &__head {
    @include tablet {
      justify-content: center;
    }
  }
  &__slide {
    position: relative;
    border-radius: 4px;
    padding-bottom: 39.5%;
    overflow: hidden;

    @include laptop-middle {
      width: 350px !important;
      height: 400px !important;
      padding-bottom: 0;
    }
    @include tablet-min {
      width: 270px !important;
      height: 330px !important;
    }
    @include hover {
      img {
        transform: scale(1.08);
      }
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      transition: transform 0.3s linear;
    }
  }
}
