@use "../base/templates" as *;
@use "../base/media" as *;

.s-price {
  position: relative;
  background-color: var(--black-l);
  overflow: hidden;
  z-index: 1;

  & + .s-stocks {
    padding-top: 0 !important;
  }

  &::after {
    position: absolute;
    content: "";
    right: -55px;
    bottom: 0;
    width: 575px;
    height: 800px;
    background: url('@img/price-decor.png') 0 0 / contain no-repeat;
    z-index: -1;

    @include tablet-min {
      width: 430px;
      height: 600px;
      left: 50%;
      top: 115px;
      transform: translateX(-50%);
    }
  }
  &__head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    row-gap: 25px;
    margin-bottom: 50px;
    @include laptop-min {
      margin-bottom: 30px;
    }
    @include tablet {
      flex-direction: column;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    @include laptop-min {
      gap: 30px;
    }
    @include tablet {
      justify-content: center;
      gap: 20px;
    }
  }
  &__nav-btn {
    width: 250px;
  }
  &__content {
    font-size: 22px;
    line-height: 155%;
    margin-bottom: 50px;
    @include laptop-min {
      font-size: 18px;
      margin-bottom: 30px;
    }
    @include tablet {
      font-size: 16px;
    }

    h6 {
      font-weight: 600;
      margin: 0;
      font-size: inherit;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    p {
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      li {
        display: flex;
        align-items: start;
        gap: 10px;

        &::before {
          content: "";
          width: 7px;
          height: 7px;
          flex-shrink: 0;
          display: block;
          border-radius: 50%;
          background-color: var(--primary);
          margin-top: 12px;
        }
      }
    }
  }
  .s-price__table {
    display: block;
    border: 1px solid var(--primary);
    border-radius: 4px 4px 0 0;

    [data-more-item] {
      &:nth-child(-n + 6) {
        display: grid !important;
        opacity: 1;
        transform: translateY(0);
      }
    }

    thead {
      display: block;
      background-color: var(--primary);
      color: var(--black);

      tr {
        display: grid !important;
      }
    }
    tr {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
      padding: 24px 45px;
      width: 100%;

      &._open {
        display: grid !important;
      }

      @include laptop-min {
        padding: 16px 20px;
      }
      @include tablet {
        padding: 10px 20px;
      }
    }
    th {
      display: block;
      font-weight: 600;
      font-size: 22px;
      &:first-child {
        text-align: start;
      }
      &:last-child {
        text-align: end;
      }

      @include laptop-min {
        font-size: 18px;
      }
      @include tablet {
        font-size: 16px;
      }
    }
    tbody {
      display: block;

      tr {
        &:not(:last-child) {
          border-bottom: 2px solid var(--primary);
        }
        &:nth-child(even) {
          background: rgba(255, 255, 255, 0.05);
        }
        &:nth-child(odd) {
          background: var(--black-d);
        }
      }
    }
    td {
      display: block;
    }
    .value {
      font-size: 18px;
      @include tablet {
        font-size: 16px;
      }
    }
    .price {
      font-weight: 500;
      font-size: 22px;
      text-align: right;
      @include laptop-min {
        font-size: 18px;
      }
      @include tablet {
        font-size: 16px;
        color: var(--primary);
      }
    }
  }
  &__more-btn {
    margin: 50px auto 0px auto;
    @include tablet {
      margin-top: 30px;
    }
    @include tablet-min {
      width: 100%;
    }
  }
}
