@use "../base/templates" as *;
@use "../base/media" as *;

.s-reviews {
  position: relative;
  background-color: var(--black-l);
  overflow: hidden;
  z-index: 1;

  &::before {
    position: absolute;
    content: "";
    background: url('@img/decor-reviews.png') 0 0 / contain no-repeat;
    width: 1530px;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateX(-50%);
    z-index: -1;
  
    @include laptop-min {
      width: 1000px;
      left: 50%;
      height: 550px;
    }
  }
}