@use "../base/templates" as *;
@use "../base/media" as *;

.s-stocks {
  position: relative;
  background-color: var(--black-l);
  z-index: 1;
  @include laptop-middle {
    overflow: hidden;
  }

  &::before {
    position: absolute;
    content: "";
    width: 680px;
    height: 940px;
    bottom: 0;
    left: -60px;
    background: url('@img/decor-stock.png') 0 0 / contain no-repeat;
    z-index: -1;

    @include laptop-middle {
      width: 380px;
      height: 460px;
      left: -65px;
    }
  }

  &__slider {
    margin: -7px;
    padding: 7px;
    @include laptop-middle {
      overflow: visible !important;
      margin: 0;
      padding: 0;
    }
  }
  &__slide {
    height: auto !important;
    box-sizing: border-box;

    @include laptop-middle {
      width: 400px !important;
      max-width: 100%;
    }

    .card-stock {
      width: 100%;
    }
  }
}
