<footer class="footer">
  <div class="container">
    <div class="footer__wrapper">
      <div class="footer__main">
        <a href="/" class="footer__logo">
          <img src="@img/logo.svg" alt="logo" />
        </a>
        <p class="footer__main-content">
          Обращаем ваше внимание, что ваш звонок может быть записан в целях
          контроля качества обслуживания и улучшения работы нашей службы.
          Оставаясь на линии, вы даете согласие на обработку ваших персональных
          данных Оператору: ООО «ООО».
        </p>
      </div>
      <div class="footer__nav">
        <div class="footer__nav-title">Навигация</div>
        <ul class="list footer__list">
          <li><a href="#s-hero">Главная</a></li>
          <li><a href="#s-stocks">Акции</a></li>
          <li><a href="#s-gallery">Галерея</a></li>
          <li><a href="#s-price">Прайс-лист</a></li>
          <li><a href="#s-contacts">Контакты</a></li>
        </ul>
      </div>
      <div class="footer__contacts">
        <div class="footer__nav-title _mob">Контакты</div>
        <div class="footer__contacts-main">
          <a href="tel:+79999999999" class="footer__contacts-tel">
            +7 (999) 999-99-99
          </a>
          <a href="mailto:pwippwip@yandex.ru" class="footer__mail">
            pwippwip@yandex.ru
          </a>
          <div class="footer__address">
            г. Казань, ЖМ Вознесенское, Заречная улица, 58
          </div>
        </div>
        <div class="social">
          <a href="#" rel="nofollow" target="_blank" class="social-item">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-tg"></use>
            </svg>
          </a>
          <a href="#" rel="nofollow" target="_blank" class="social-item">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-max"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
	<div class="footer__bottom">
		<div class="container">
			<div class="footer__bottom-wrapper">
				<div class="footer__bottom-content">
					© 2025 Ресторан “Лалют”, ООО “ООО”, ИНН: 123123123123, ОГРН:
					123123123123123
				</div>
				<ul class="list footer__bottom-list">
					<li><a href="#" target="_blank">Правила обработки персональных данных</a></li>
					<li><a href="#" target="_blank">Политика конфиденциальности</a></li>
				</ul>
				<a href="https://qorix.ru/" target="_blank" class="footer__dev">
					<span>Разработка сайта —</span>
					<img src="@img/qorix.svg" alt="logo">
				</a>
			</div>
		</div>
	</div>
</footer>

<script src="./files/fancybox/fancybox.min.js"></script>
<script src="./files/swiper/swiper.min.js"></script>
<script src="./files/inputmask/inputmask.min.js"></script>
<script src="./files/air-datepicker/air-datepicker.min.js"></script>
