<section class="s-adv">
  <div class="container">
    <div class="swiper s-adv__slider">
      <div class="swiper-wrapper s-adv__wrapper">
        <article class="swiper-slide s-adv__item">
          <h5 class="s-adv__item-title">Индивидуальное парение</h5>
          <p class="swiper-slide s-adv__item-content">
            Погрузитесь в атмосферу традиционного парения с ароматными вениками
            и целебным паром, чтобы полностью расслабить тело и разум
          </p>
        </article>
        <article class="swiper-slide s-adv__item">
          <h5 class="s-adv__item-title">Кальянная зона</h5>
          <p class="swiper-slide s-adv__item-content">
            Насладитесь изысканными ароматными смесями в уютной обстановке для
            полного расслабления и неспешной беседы
          </p>
        </article>
        <article class="swiper-slide s-adv__item">
          <h5 class="s-adv__item-title">Горячий чан и купель</h5>
          <p class="swiper-slide s-adv__item-content">
            Погрузитесь в блаженное тепло для снятия напряжения, улучшения
            кровообращения и глубокого комфорта после парной
          </p>
        </article>
        <article class="swiper-slide s-adv__item">
          <h5 class="s-adv__item-title">Своя еда и алкоголь</h5>
          <p class="swiper-slide s-adv__item-content">
            Погрузитесь в атмосферу традиционного парения с ароматными вениками
            и целебным паром, чтобы полностью расслабить тело и разум
          </p>
        </article>
        <article class="swiper-slide s-adv__item">
          <h5 class="s-adv__item-title">Безлимитный чай</h5>
          <p class="swiper-slide s-adv__item-content">
            Насладитесь изысканными ароматными смесями в уютной обстановке для
            полного расслабления и неспешной беседы
          </p>
        </article>
        <article class="swiper-slide s-adv__item">
          <h5 class="s-adv__item-title">Парковка</h5>
          <p class="swiper-slide s-adv__item-content">
            Погрузитесь в блаженное тепло для снятия напряжения, улучшения
            кровообращения и глубокого комфорта после парной
          </p>
        </article>
      </div>
    </div>
    <div class="slider-pagination"></div>
  </div>
</section>
