<section class="sect-p s-brone" id="s-brone">
  <div class="container">
    <div class="s-brone__wrapper">
      <div class="s-brone__info">
        <h2 class="s-title s-brone__title">
          Получите 5% скидки на общее время при бронировании
        </h2>
        <p class="s-brone__content">
          Оставьте контакты, и мы подберем для вас удобное время, расскажем об
          условиях и зафиксируем скидку 5% при бронировании комплекса для вашей
          компании
        </p>
      </div>
      <form action="#" class="s-brone__form">
        <div class="input-control">
          <input type="text" placeholder="Ваше имя" class="input">
        </div>
        <div class="input-control">
          <input type="tel" placeholder="+7 (___) ___-__-__" class="input">
        </div>
        <div class="input-grid">
          <div class="input-control">
            <input type="number" placeholder="Количество гостей" class="input">
          </div>
          <div class="input-control">
            <input type="text" placeholder="Желаемая дата" class="input _date">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
