<section class="sect-p s-complex">
  <div class="container">
    <div class="s-complex__wrapper">
      <div class="s-complex__info">
        <h2 class="s-title s-complex__title">
          Банный комплекс только для вашей компании
        </h2>
        <div class="s-complex__price">Всего за 5 000 руб. / час</div>
        <div class="s-complex__content">
          <h6 class="s-complex__content-title">Что входит:</h6>
          <ul class="list s-complex__content-list">
            <li>Вместимость до 16 чел.</li>
            <li>Парная второе дыхание</li>
            <li>Комната для отдыха</li>
            <li>Чан</li>
            <li>Парковка</li>
            <li>Гамак для отдыха</li>
            <li>Мангальная зона</li>
            <li>Зал для гостей</li>
            <li>Купель</li>
            <li>Кальянная зона</li>
          </ul>
          <a href="#s-brone" class="btn-s _black s-complex__btn-brone">
            Забронировать дату
          </a>
        </div>
      </div>
      <div class="s-complex__gallery">
        <div class="s-complex__gallery-thumb">
          <div class="slider-arrow _prev _rotate">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-top"></use>
            </svg>
          </div>
          <div class="swiper s-complex__thumb-slider">
            <div class="swiper-wrapper">
              <div
                class="swiper-slide s-complex__thumb-slide"
                style="
                  background: url(&quot;@img/complex.jpg&quot;) 0 0 / cover
                    no-repeat;
                "
              ></div>
              <div
                class="swiper-slide s-complex__thumb-slide"
                style="
                  background: url(&quot;@img/complex.jpg&quot;) 0 0 / cover
                    no-repeat;
                "
              ></div>
              <div
                class="swiper-slide s-complex__thumb-slide"
                style="
                  background: url(&quot;@img/complex.jpg&quot;) 0 0 / cover
                    no-repeat;
                "
              ></div>
              <div
                class="swiper-slide s-complex__thumb-slide"
                style="
                  background: url(&quot;@img/complex.jpg&quot;) 0 0 / cover
                    no-repeat;
                "
              ></div>
              <div
                class="swiper-slide s-complex__thumb-slide"
                style="
                  background: url(&quot;@img/complex.jpg&quot;) 0 0 / cover
                    no-repeat;
                "
              ></div>
              <div
                class="swiper-slide s-complex__thumb-slide"
                style="
                  background: url(&quot;@img/complex.jpg&quot;) 0 0 / cover
                    no-repeat;
                "
              ></div>
            </div>
          </div>
          <div class="slider-arrow _next _rotate">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-bottom"></use>
            </svg>
          </div>
        </div>
        <div class="swiper s-complex__gallery-slider">
          <div class="swiper-wrapper">
            <a
              href="@img/complex.jpg"
              data-fancybox="gallery-complex"
              class="swiper-slide s-complex__gallery-slide"
            >
              <img src="@img/complex.jpg" alt="image" />
            </a>
            <a
              href="@img/complex.jpg"
              data-fancybox="gallery-complex"
              class="swiper-slide s-complex__gallery-slide"
            >
              <img src="@img/complex.jpg" alt="image" />
            </a>
            <a
              href="@img/complex.jpg"
              data-fancybox="gallery-complex"
              class="swiper-slide s-complex__gallery-slide"
            >
              <img src="@img/complex.jpg" alt="image" />
            </a>
            <a
              href="@img/complex.jpg"
              data-fancybox="gallery-complex"
              class="swiper-slide s-complex__gallery-slide"
            >
              <img src="@img/complex.jpg" alt="image" />
            </a>
            <a
              href="@img/complex.jpg"
              data-fancybox="gallery-complex"
              class="swiper-slide s-complex__gallery-slide"
            >
              <img src="@img/complex.jpg" alt="image" />
            </a>
            <a
              href="@img/complex.jpg"
              data-fancybox="gallery-complex"
              class="swiper-slide s-complex__gallery-slide"
            >
              <img src="@img/complex.jpg" alt="image" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
