<section class="sect-p s-contacts" id="s-contacts">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title _line">Контакты</h2>
    </div>
    <div class="s-contacts__wrapper">
      <div class="s-contacts__main">
        <div class="s-contacts__main-inside">
          <img src="@img/logo.svg" alt="logo" class="s-contacts__logo" />
          <div class="s-contacts__item">
            <a href="tel:+79999999999" class="s-contacts__tel">
              +7 (999) 999-99-99
            </a>
            <a href="mailto:pwippwip@yandex.ru" class="s-contacts__mail">
              pwippwip@yandex.ru
            </a>
          </div>
          <div class="s-contacts__item">График работы: пн-вс</div>
          <div class="s-contacts__item">
            г. Казань, ЖМ Вознесенское, Заречная улица, 58
          </div>
          <div class="social">
            <a href="#" rel="nofollow" target="_blank" class="social-item">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-tg"></use>
              </svg>
            </a>
            <a href="#" rel="nofollow" target="_blank" class="social-item">
              <svg>
                <use xlink:href="img/icons/icons.svg#icon-max"></use>
              </svg>
            </a>
          </div>
          <a href="#" target="_blank" class="btn-s _outline s-contacts__btn">
            Как добраться?
          </a>
          <img src="@img/contacts-figure.png" alt="image" class="s-contacts__figure">
        </div>
      </div>
      <div class="map s-contacts__map" data-center="[55.75838206898346,49.26068149999995]" data-zoom="16"></div>
    </div>
  </div>
</section>
