<section class="s-gallery sect-p" id="s-gallery">
  <div class="container">
    <div class="sect-head s-gallery__head">
      <h2 class="s-title _line-black">Галерея</h2>
      <div class="slider-interface">
        <div class="slider-nav">
          <div class="slider-arrow _prev">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-prev"></use>
            </svg>
          </div>
          <div class="slider-arrow _next">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-next"></use>
            </svg>
          </div>
        </div>
        <div class="slider-scrollbar"></div>
        <div class="slider-fraction"></div>
      </div>
    </div>
  </div>
  <div class="s-gallery__slider swiper">
    <div class="swiper-wrapper">
      <a
        href="@img/gallery.jpg"
        data-fancybox="gallery"
        class="swiper-slide s-gallery__slide"
      >
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery.jpg"
        data-fancybox="gallery"
        class="swiper-slide s-gallery__slide"
      >
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery.jpg"
        data-fancybox="gallery"
        class="swiper-slide s-gallery__slide"
      >
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery.jpg"
        data-fancybox="gallery"
        class="swiper-slide s-gallery__slide"
      >
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery.jpg"
        data-fancybox="gallery"
        class="swiper-slide s-gallery__slide"
      >
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery.jpg"
        data-fancybox="gallery"
        class="swiper-slide s-gallery__slide"
      >
        <img src="@img/gallery.jpg" alt="image" />
      </a>
      <a
        href="@img/gallery.jpg"
        data-fancybox="gallery"
        class="swiper-slide s-gallery__slide"
      >
        <img src="@img/gallery.jpg" alt="image" />
      </a>
    </div>
  </div>
  <div class="slider-pagination _mob _black"></div>
</section>
