<section
  class="s-hero"
  id="s-hero"
  style="background: url(&quot;@img/hero.jpg&quot;) center / cover no-repeat"
>
  <div class="container">
    <div class="s-hero__wrapper">
      <div class="s-hero__info">
        <h1 class="s-title s-hero__title">
          Баня
          <span>MEDOVAYA</span>
          <br />
          в Казани
        </h1>
        <p class="s-hero__content">
          Погрузитесь в традицию. Ароматный медовар, целебные веники и искреннее
          гостеприимство. Идеальное место, чтобы смыть усталость и обрести
          гармонию.
        </p>
        <a href="@img/hero.jpg" data-fancybox class="btn-play s-hero__play-mob _row">
          <div class="btn-play__circle">
            <svg>
              <use xlink:href="img/icons/icons.svg#icon-play"></use>
            </svg>
          </div>
          <span>О бане</span>
        </a>
        <div class="s-hero__buttons">
          <a href="#s-brone" class="btn-s">Забронировать дату</a>
          <a href="#s-price" class="btn-s _outline">Прайс-лист</a>
        </div>
      </div>
      <a href="@img/hero.jpg" data-fancybox class="btn-play s-hero__play">
        <div class="btn-play__circle">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-play"></use>
          </svg>
        </div>
        <span>О бане</span>
      </a>
    </div>
  </div>
</section>
