<section class="s-price sect-p" id="s-price">
  <div class="container tabs">
    <div class="s-price__head">
      <h2 class="s-title _line">Прайс-лист</h2>
      <div class="tabs-nav s-price__nav">
        <div
          data-tab-btn="price-tab-1"
          class="btn-s _outline s-price__nav-btn _active"
        >
          Парение
        </div>
        <div data-tab-btn="price-tab-2" class="btn-s _outline s-price__nav-btn">
          Кухня
        </div>
      </div>
    </div>
    <div class="tabs-content">
      <div
        data-tab="price-tab-1"
        data-count-show="5"
        class="container-more _active _show"
      >
        <div class="s-price__content">
          <h6>Условия</h6>
          <ul>
            <li>Минимальное бронирование - 4 часа (до 4х гостей)</li>
            <li>Каждый следующий гость 500₽ / час</li>
          </ul>
        </div>
        <table class="s-price__table">
          <thead>
            <tr>
              <th>Название</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
          </tbody>
        </table>
        <div data-more-btn class="btn-s s-price__more-btn">Показать ещё</div>
      </div>
      <div
        data-tab="price-tab-2"
        data-count-show="5"
        class="container-more"
      >
        <div class="s-price__content">
          <h6>Условия 22</h6>
          <ul>
            <li>Минимальное бронирование - 4 часа (до 4х гостей)</li>
            <li>Каждый следующий гость 500₽ / час</li>
          </ul>
        </div>
        <table class="s-price__table">
          <thead>
            <tr>
              <th>Название</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
            <tr data-more-item>
              <td class="value">Кола ж/б</td>
              <td class="price">200 руб.</td>
            </tr>
          </tbody>
        </table>
        <div data-more-btn class="btn-s s-price__more-btn">Показать ещё</div>
      </div>
    </div>
  </div>
</section>
