<section class="s-stocks sect-p" id="s-stocks">
  <div class="container">
    <div class="sect-head">
      <h2 class="s-title _line">Акции</h2>
      <div class="slider-nav">
        <div class="slider-arrow _prev">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-arrow _next">
          <svg>
            <use xlink:href="img/icons/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
    <div class="swiper s-stocks__slider">
      <div class="swiper-wrapper">
        <a href="#s-brone" class="swiper-slide s-stocks__slide">
          <article class="card-stock">
            <div class="card-stock__gallery">
              <img
                src="@img/card-stock.jpg"
                alt="image"
                class="card-stock__img"
              />
            </div>
            <h5 class="card-stock__title">
              Скидка 30% при раннем бронировании
            </h5>
            <div class="card-stock__data">15.06.2025 - 30.06.2025</div>
            <div class="btn-s card-stock__btn _outline">Воспользоваться</div>
          </article>
        </a>
        <a href="#s-brone" class="swiper-slide s-stocks__slide">
          <article class="card-stock">
            <div class="card-stock__gallery">
              <img
                src="@img/card-stock.jpg"
                alt="image"
                class="card-stock__img"
              />
            </div>
            <h5 class="card-stock__title">
              Скидка 30% при раннем бронировании
            </h5>
            <div class="card-stock__data">15.06.2025 - 30.06.2025</div>
            <div class="btn-s card-stock__btn _outline">Воспользоваться</div>
          </article>
        </a>
        <a href="#s-brone" class="swiper-slide s-stocks__slide">
          <article class="card-stock">
            <div class="card-stock__gallery">
              <img
                src="@img/card-stock.jpg"
                alt="image"
                class="card-stock__img"
              />
            </div>
            <h5 class="card-stock__title">
              Скидка 30% при раннем бронировании
            </h5>
            <div class="card-stock__data">15.06.2025 - 30.06.2025</div>
            <div class="btn-s card-stock__btn _outline">Воспользоваться</div>
          </article>
        </a>
        <a href="#s-brone" class="swiper-slide s-stocks__slide">
          <article class="card-stock">
            <div class="card-stock__gallery">
              <img
                src="@img/card-stock.jpg"
                alt="image"
                class="card-stock__img"
              />
            </div>
            <h5 class="card-stock__title">
              Скидка 30% при раннем бронировании
            </h5>
            <div class="card-stock__data">15.06.2025 - 30.06.2025</div>
            <div class="btn-s card-stock__btn _outline">Воспользоваться</div>
          </article>
        </a>
        <a href="#s-brone" class="swiper-slide s-stocks__slide">
          <article class="card-stock">
            <div class="card-stock__gallery">
              <img
                src="@img/card-stock.jpg"
                alt="image"
                class="card-stock__img"
              />
            </div>
            <h5 class="card-stock__title">
              Скидка 30% при раннем бронировании
            </h5>
            <div class="card-stock__data">15.06.2025 - 30.06.2025</div>
            <div class="btn-s card-stock__btn _outline">Воспользоваться</div>
          </article>
        </a>
      </div>
    </div>
    <div class="slider-pagination _mob"></div>
  </div>
</section>
