@use "../base/templates" as *;
@use "../base/media" as *;

.btn-s {
  --border-color: var(--primary);
  --bgc-color: var(--primary);
  --color: black;

  --h-color: black;
  --h-bgc-color: var(--primary);
  --h-border-color: var(--primary);
  --h-box-shadow: 2px 2px 7px 0px var(--primary);

  @include flex-center;
  cursor: pointer;
  background-color: var(--bgc-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 19px 39px;
  width: fit-content;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;

  text-align: center;
  color: var(--color);
  font-size: 24px;

  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    box-shadow 0.3s ease;

  @include tablet {
    font-size: 16px;
    padding: 12px 25px;
  }
  @include hover {
    box-shadow: var(--h-box-shadow);
    color: var(--h-color);
    background-color: var(--h-bgc-color);
    border: 1px solid var(--h-border-color);
  }

  &._outline {
    --bgc-color: transparent;
    --color: white;

    --h-color: white;
    --h-bgc-color: transparent;
  }
}

.btn-play {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  gap: 16px;
  flex-shrink: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;

  font-weight: 300;
  font-size: 18px;
  text-align: center;

  &._row {
    flex-direction: row;
    gap: 16px;
  }

  @include tablet {
    font-size: 16px;
  }
  @include hover {
    .btn-play__circle {
      box-shadow: 0px 2px 7px 2px var(--primary);
    }
  }

  &__circle {
    @include flex-center;
    border: 1px solid var(--primary);
    overflow: hidden;
    width: 135px;
    height: 135px;
    backdrop-filter: blur(12px);
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    color: var(--primary);
    transition: box-shadow 0.3s linear;

    @include laptop-min {
      width: 90px;
      height: 90px;
    }
    @include tablet {
      width: 60px;
      height: 60px;
    }

    svg {
      width: 44px;
      height: 44px;
      @include laptop-min {
        width: 32px;
        height: 32px;
      }
      @include tablet {
        width: 20px;
        height: 20px;
      }
    }
  }
}
