@use "../base/templates" as *;
@use "../base/media" as *;
.card-stock {
  display: flex;
  flex-direction: column;
  &__gallery {
    position: relative;
    width: 100%;
    border-radius: 4px;
    padding-bottom: 55%;
    overflow: hidden;
    margin-bottom: 20px;

    @include hover {
      .card-article__img {
        transform: scale(1.08);
      }
    }
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;

    transition: transform 0.3s linear;
  }
  &__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    margin: 0px 0px 15px 0px;

    @include laptop-middle {
      font-size: 20px;
    }
    @include laptop-min {
      font-size: 18px;
    }
    @include tablet {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  &__data {
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 20px;
    @include laptop-middle {
      font-size: 16px;
    }
    @include tablet-min {
      font-size: 12px;
    }
  }
  &__btn {
    width: 100%;
    margin-top: auto;
  }
}
