@use "../base/templates" as *;
@use "../base/media" as *;

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  @include tablet {
    grid-template-columns: 1fr;
  }
}
.input-control {
  width: 100%;
}
.input {
  width: 100%;
  outline: none;
  padding: 18px 20px;
  background-color: white;
  border: none;
  border-radius: 4px;

  font-size: 17px;
  line-height: 150%;

  transition: box-shadow 0.3s ease;

  &::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* Убирает лишние отступы */
  }

  &:focus {
    box-shadow: 0px 0px 5px 2px var(--primary);
  }

  &._date {
    padding-right: 45px !important;
    background: url("@img/date-icon.svg") center right 20px / 16px auto
      no-repeat;
    background-color: white;
  }

  @include tablet {
    font-size: 16px;
    padding: 10px 20px;
  }
}
.input-variants {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 100%;
  @include tablet-min {
    justify-content: space-between;
  }
  &__text {
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    @include tablet {
      font-size: 16px;
    }
  }

  .wpcf7-form-control {
    display: flex;
    gap: 10px;

    input[type="radio"] {
      display: none;

      &:checked + .wpcf7-list-item-label::after {
        background: url("@img/check-primary.svg") center / 10px auto no-repeat;
      }
    }
    .wpcf7-list-item-label {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;

      font-size: 17px;
      line-height: 150%;
      @include tablet {
        font-size: 16px;
      }

      &::after {
        flex-shrink: 0;
        content: "";
        width: 16px;
        height: 16px;
        border: 1px solid var(--primary);
      }
    }
  }
}

.check-wrapper {
  position: relative;
  z-index: 1;

  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -1;

    &:checked + .wpcf7-list-item-label::before {
      background: url("@img/check-primary.svg") center / 10px auto no-repeat;
    }
  }
  .wpcf7-list-item-label {
    display: flex;
    align-items: start;
    gap: 10px;
    cursor: pointer;

    font-weight: 300;
    font-size: 14px;
    line-height: 150%;

    a {
      text-decoration: underline;
      transition: color .3s ease;
      @include hover {
        color: var(--primary);
      }
    }

    &::before {
      flex-shrink: 0;
      content: "";
      width: 16px;
      height: 16px;
      margin-top: 3px;
      border: 1px solid var(--primary);
    }
  }
}
