@use "../base/templates" as *;
@use "../base/media" as *;

.input-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  @include tablet {
    grid-template-columns: 1fr;
  }
}
.input-control {
  width: 100%;
}
.input {
  width: 100%;
  outline: none;
  padding: 18px 20px;
  background-color: white;
  border: none;
  border-radius: 4px;

  font-size: 17px;
  line-height: 150%;

  transition: box-shadow 0.3s ease;

  &::placeholder {
    color: rgba(0, 0, 0, 0.7);
  }

  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* Убирает лишние отступы */
  }

  &:focus {
    box-shadow: 0px 0px 5px 2px var(--primary);
  }

  &._date {
    padding-right: 45px !important;
    background: url('@img/date-icon.svg') center right 20px / 16px auto no-repeat;
    background-color: white;
  }

  @include tablet {
    font-size: 16px;
    padding: 10px 20px;
  }
}
