@use "../base/media" as *;
@use "../base/templates" as *;

.sect-p {
  padding: 100px 0px;
  @include laptop-middle {
    padding: 80px 0px;
  }
  @include tablet {
    padding: 60px 0px;
  }
}
.sect-head {
  @include flex-between;
  gap: 30px;

  margin-bottom: 50px;
  @include tablet {
    margin-bottom: 30px;
  }
}