@use "../base/templates" as *;
@use "../base/media" as *;

.slider-pagination {
  @include flex-center;
  gap: 6px;
  margin-top: 30px;
  @include tablet {
    margin-top: 20px;
    gap: 4px;
  }

  .swiper-pagination-bullet {
    flex: 0 1 12px;
    height: 12px;
    margin: 0 !important;
    cursor: pointer;
    opacity: 0.3;
    border-radius: 50%;

    background-color: var(--primary);

    transition:
      opacity 0.3s ease,
      flex 0.3s ease,
      border-radius 0.3s ease;

    @include tablet {
      height: 6px;
      flex-basis: 6px;
    }

    &.swiper-pagination-bullet-active {
      flex-basis: 20px;
      border-radius: 2px;
      opacity: 1;
      @include tablet {
        flex-basis: 14px;
      }
    }
  }
}

.slider-arrow {
  @include flex-center;
  cursor: pointer;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  background-color: var(--black);
  border-radius: 4px;

  color: var(--primary);

  transition:
    opacity 0.3s ease,
    box-shadow 0.3s ease;

  &.swiper-button-disabled {
    opacity: 0.7;
    pointer-events: none;
  }
  @include hover {
    box-shadow: 1px 1px 7px 2px var(--black);
  }

  svg {
    width: 26px;
    height: 16px;
  }
}
