@use "../base/templates" as *;
@use "../base/media" as *;

.slider-pagination {
  @include flex-center;
  gap: 6px;
  margin-top: 30px;
  @include tablet {
    margin-top: 20px;
    gap: 4px;
  }

  .swiper-pagination-bullet {
    flex: 0 1 12px;
    height: 12px;
    margin: 0 !important;
    cursor: pointer;
    opacity: 0.3;
    border-radius: 50%;

    background-color: var(--primary);

    transition: opacity .3s ease, flex .3s ease, border-radius .3s ease;

    @include tablet {
      height: 6px;
      flex-basis: 6px;
    }

    &.swiper-pagination-bullet-active {
      flex-basis: 20px;
      border-radius: 2px;
      opacity: 1;
      @include tablet {
        flex-basis: 14px;
      }
    }
  }
}