@use "../base/templates" as *;
@use "../base/media" as *;

.slider-pagination {
  @include flex-center;
  gap: 6px;
  margin-top: 30px;
  @include tablet {
    margin-top: 20px;
    gap: 4px;
  }
  .swiper-pagination-bullet {
    flex: 0 1 12px;
    height: 12px;
    margin: 0 !important;
    cursor: pointer;
    opacity: 0.3;
    border-radius: 50%;

    background-color: var(--primary);

    transition:
      opacity 0.3s ease,
      flex 0.3s ease,
      border-radius 0.3s ease;

    @include tablet {
      height: 6px;
      flex-basis: 6px;
    }

    &.swiper-pagination-bullet-active {
      flex-basis: 20px;
      border-radius: 3px;
      opacity: 1;
      @include tablet {
        flex-basis: 14px;
      }
    }
  }

  &._mob {
    @media (min-width: 992px) {
      display: none;
    }
  }
  &._black {
    .swiper-pagination-bullet {
      background-color: var(--black);
    }
  }
}

.slider-nav {
  display: flex;
  gap: 30px;
  @include laptop-middle {
    gap: 20px;
  }
  @include tablet {
    display: none;
  }
}
.slider-arrow {
  @include flex-center;
  cursor: pointer;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  background-color: var(--black);
  border-radius: 4px;

  color: var(--primary);

  transition:
    opacity 0.3s ease,
    box-shadow 0.3s ease;

  &.swiper-button-disabled {
    opacity: 0.7;
    pointer-events: none;
  }
  @include hover {
    box-shadow: 1px 1px 7px 2px var(--black);
  }

  &._rotate {
    svg {
      width: 26px;
      height: 16px;
    }
  }
  svg {
    width: 16px;
    height: 26px;
  }
}
.slider-scrollbar {
  width: 100%;
  background-color: rgba(5, 5, 5, 0.3);
  height: 2px;
  flex-shrink: 0;

  .swiper-scrollbar-drag {
    position: relative;
    background-color: var(--black);

    &::before {
      position: absolute;
      content: "";
      inset: -2px 0px;
      cursor: pointer;
    }
  }
}
.slider-fraction {
  display: flex;
  gap: 3px;
  font-size: 32px;

  @include laptop-middle {
    font-size: 24px;
  }

  span {
    display: block;
    width: 30px;
    text-align: center;
  }
}
.slider-interface {
  display: flex;
  align-items: center;
  gap: 50px;

  @include laptop-middle {
    gap: 30px;
  }
  @include laptop-min {
    gap: 20px;
  }
  @include tablet {
    display: none;
  }

  .slider-scrollbar {
    width: 250px;
    @include laptop-middle {
      width: 200px;
    }
  }
}
