@use "../base/templates" as *;
@use "../base/media" as *;

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.social-item {
  @include flex-center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 56px;
  height: 48px;

  transition:
    color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease !important;

  @include tablet {
    width: 45px;
    height: 40px;
  }
  @include hover {
    color: var(--primary);
    border-color: var(--primary);
    box-shadow: 2px 2px 7px 0px var(--primary);
  }

  svg {
    width: 20px;
    height: 20px;
    @include tablet {
      width: 16px;
      height: 16px;
    }
  }
}
