@use "../base/templates" as *;
@use "../base/media" as *;

.s-title {
  font-weight: 500;
  font-size: 60px;
  margin: 0;

  span {
    color: var(--primary);
  }

  @include desktop {
    font-size: 52px;
  }
  @include laptop {
    font-size: 48px;
  }
  @include laptop-middle {
    font-size: 36px;
  }
  @include tablet-min {
    font-size: 24px;
  }

  &._line {
    padding-bottom: 3px;
    border-bottom: 2px solid var(--primary);
  }
}
