@use "../base/templates" as *;

.burger-overlay {
  position: fixed;
  inset: 0;
  background-color: var(--black);
  opacity: 0;
  visibility: hidden;
  z-index: 110;
  transition:
    visibility 0.4s ease,
    opacity 0.4s ease;
  &._active {
    opacity: 0.5;
    visibility: visible;
  }
  @media (min-width: 992px) {
    display: none;
  }
}
.burger {
  position: fixed;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  top: 0;
  left: 0;
  height: 100dvh;
  background-color: rgba(5, 5, 5, 0.7);
  backdrop-filter: blur(10px);
  width: 340px;
  max-width: 100%;
  padding: 30px 20px;
  z-index: 120;

  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);

  transition:
    transform 0.4s ease,
    visibility 0.4s ease,
    opacity 0.4s ease;
  &._open {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  @media (min-width: 992px) {
    display: none;
  }
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  &__logo {
    display: block;
    width: 150px;

    img {
      display: block;
      width: 100%;
    }
  }
  &__close {
    @include flex-center;
    position: relative;
    width: 25px;
    height: 25px;

    div {
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: var(--primary);

      &:first-child {
        transform: rotate(45deg);
      }
      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;

    a {
      font-size: 16px;
      transition: color 0.3s ease;
      @include hover {
        color: var(--primary);
      }
    }
  }
  &__contacts {
    margin-top: auto;
  }
  &__address {
    opacity: 0.8;
  }
  &__tel {
    display: block;
    width: fit-content;
    margin-top: 15px;
    font-size: 18px;
    width: fit-content;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--primary);

    transition: color 0.3s ease;
    @include hover {
      color: var(--primary);
    }
  }
}
