@use "./base/normalize";
@use "./base/vars";
@use "./base/templates";
@use "./base/settings";
@use "./base/media";
@use "./base/body-config";
@use "./base/config-container";

// ui
@use "./ui/button";
@use "./ui/list";
@use "./ui/title";
@use "./ui/slider";
@use "./ui/sect";
@use "./ui/more";
@use "./ui/tab";
@use "./ui/card-stock";
@use "./ui/input";

// widgets
@use "./widgets/burger";

// components
@use "./components/header";

@use "./components/s-hero";
@use "./components/s-adv";
@use "./components/s-complex";
@use "./components/s-price";
@use "./components/s-stocks";
@use "./components/s-brone";

@use "./components/footer";